<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah.corelibrary" version="1.2.2" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.0.0" targetFramework="net45" />
  <package id="MSBuildTasks" version="1.4.0.56" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
</packages>