<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah.corelibrary" version="1.2.2" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.1.1" targetFramework="net45" />
  <package id="MSBuildTasks" version="1.4.0.65" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
</packages>